<%= form_for(assistance, html:{class: 'ui form'}) do |f| %>
  <% if assistance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(assistance.errors.count, "error") %> prohibited this assistance from being saved:</h2>

      <ul>
      <% assistance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Codigo_Usuario_de_la_Empresa  %>
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :Horas_Trabajadas %>
    <%= f.number_field :hours_worked %>
  </div>

  <div class="field">
    <%= f.label :Numero_de_Permisos %>
    <%= f.number_field :permission %>
  </div>

  <div class="field">
    <%= f.label :Mes%>
    <%= f.number_field :month %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
