<h2>Importar Asistencias</h2>
<%=form_tag import_assistances_path, multipart: true do%>
<%= file_field_tag :file%>
<%= submit_tag "Import"%>
<%end%>
<div class="ui container">
<p id="notice"><%= notice %></p>

<h1>Assistances</h1>

<table class="ui striped table">
  <thead>
    <tr>
      <th>User</th>
      <th>Hours worked</th>
      <th>Permission</th>
      <th>Month</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assistances.each do |assistance| %>
      <tr>
        <td><%= assistance.user.first_name %> <%= assistance.user.last_name %></td>
        <td><%= assistance.hours_worked %></td>
        <td><%= assistance.permission %></td>
        <td><%= assistance.month %></td>
        <td><%= link_to 'Show', assistance %></td>
        <td><%= link_to 'Edit', edit_assistance_path(assistance) %></td>
        <td><%= link_to 'Destroy', assistance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Assistance', new_assistance_path %>
</div>

