<!DOCTYPE html>
<html>
  <head>
    <title>AiSca</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.js"></script>

 <script type="text/javascript">
         $(document).ready(function(){
             $('.login').click(function(){
                 $('#login-modal').modal({blurring: true}).modal('show');
             });
              $('.ui.dropdown').dropdown();
         });
  </script>
   
  
  </head>


  <body>

<!-- Following Menu -->
<div class="ui attached stackable menu">
  <div class="ui container">
    <a class="active item" href="/welcome/index">Inicio</a>
    <% if user_signed_in?%>
   
    <a class="item" href="/vouchers" >Papeletas</a>
    <a class="item" href="/assistances">Asistencias</a>
     <%if current_user.has_role? :Administrador or current_user.has_role? :Super_usuario%>
         <a class="item" href="/user">Empleados</a>
          <a class="green item" href="/user/new"><i class="add user icon"></i>Crear Nuevo Usuario</a>
    <%end%>
    <%end%>
    <div class="right menu">

     
      <% if user_signed_in?%>
      <div class="item">
                <a class="user icon" href="/users/edit"> <%= current_user.email %></a>
              </div>
      <div class="item">
        <%= link_to "Cerrar", destroy_user_session_path, method: :delete, :class => 'ui primary button'%>
      </div>
      <%else%>
       <div class="item">
      	 <a class="user icon" href="/users/sign_in">Log In</a>
      </div>
      <%end%>
    </div>
  </div>
</div>
	


    <%= yield %>
    <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
  </body>
</html>
